*{
    font-family: sans-serif;
}
body{
    background-color: black;
    margin:0;
    padding:0;
}
img{
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.desc{
    color: #fff;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
}
.welc{
    color: #fff;
    text-align: center;
    position: fixed;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}
.discord{
    text-decoration: none;
    color: lightgreen;
}
div{
    padding:1px;
    color: #fff;
    font-family: sans-serif;
}
